@model Marcware.JudgeMyPhoto.ViewModels.Account.UserViewModel

@{
    ViewData["Title"] = "JMP > Add user";
}

<div class="row">
    <form asp-action="Add">
        <div class="form-group-row">
            <div class="col-sm-7 offset-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label asp-for="UserName" class="app-label"></label>
            </div>
            <div class="col-sm-7">
                <input asp-for="UserName" class="app-textbox" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label asp-for="Nickname" class="app-label"></label>
            </div>
            <div class="col-sm-7">
                <input asp-for="Nickname" class="app-textbox" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label asp-for="Email" class="app-label"></label>
            </div>
            <div class="col-sm-7">
                <input asp-for="Email" class="app-textbox" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label asp-for="Password" class="app-label"></label>
            </div>
            <div class="col-sm-7">
                <input type="password" asp-for="Password" class="app-textbox" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label asp-for="ConfirmPassword" class="app-label"></label>
            </div>
            <div class="col-sm-7">
                <input type="password" asp-for="ConfirmPassword" class="app-textbox" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-7 offset-4">
            <input type="submit" value="Save" class="btn btn-primary app-save-button" />
        </div>
    </form>
</div>

