@{
    ViewData["Title"] = "Timeout";
}

<div class="alert alert-danger full-page-alert" role="alert">
    Your session has timed out or you do not have access to this web page.  Please @Html.ActionLink("sign in", "Index", "Home") again.
</div>

