@model Marcware.JudgeMyPhoto.ViewModels.Category.CategoryViewModel

@{
    ViewData["Title"] = "Categories > Add";
}

<div class="row">
    <form asp-action="Add">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CategoryId" />
        <div class="form-group row">
            <div class="col-sm-4">
                <label asp-for="CategoryName" class="app-label"></label>
            </div>
            <div class="col-sm-7">
                <input asp-for="CategoryName" class="app-textbox" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label asp-for="StatusCode" class="app-label"></label>
            </div>
            <div class="col-sm-7">
                <select class="app-select" asp-for="StatusCode" asp-items='@(new SelectList(Model.StatusCodeTypes.ToList(), "Key", "Value", Model.StatusCode))'></select>
                <span asp-validation-for="StatusCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label asp-for="StatusText" class="app-label"></label>
            </div>
            <div class="col-sm-7">
                <input asp-for="StatusText" class="app-textbox" />
                <span asp-validation-for="StatusText" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label asp-for="PhotoNamingThemeCode" class="app-label"></label>
            </div>
            <div class="col-sm-7">
                <select class="app-select" asp-for="PhotoNamingThemeCode" asp-items='@(new SelectList(Model.PhotoNamingThemeTypes.ToList(), "Key", "Value", Model.PhotoNamingThemeCode))'></select>
                <span asp-validation-for="PhotoNamingThemeCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-7 offset-4">
            <input type="submit" value="Save" class="btn btn-primary app-save-button" />
        </div>
    </form>
</div>

