body {
    background-color: black;
}

.info-table {
    text-align: center;
}

.info-table-header-row {
    color: white;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}

.info-table-data-row {
    color: silver;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    font-weight: bold;
}

.info-table-data-row a {
    color: silver;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 180px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

a.app-add-button {
    color: silver;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 180px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 5px;
}

.photo-submit-area {
    color: white;
    width: 350px;
}

.photo-submit-area-title {
    font-weight: bold;
    font-size: x-large;    
    padding-top: 20px;
    padding-bottom: 30px;
}

.photo-submit-area-body {
    height: 200px;
}

.photo-submit-area-body p {
    margin: 80px 0 80px 0;
    padding: 7px 10px 7px 10px;
    border: 3px solid white;
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
}

.photo-submit-area-action {
    padding-top: 40px;
}

.photo-submit-area-action .btn {    
    border: none;
    border-radius: 35px;
    color: #fff;
    padding: 11px 15px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 80%;
    height: 50px;
    margin-top: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

.photo-submit-area-action .btn.action-upload {
    background: #034d0c;
}

.photo-submit-area-action .btn.action-remove {
    background: #ff0000;
}

.btn.photo-viewer-nav-button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background: #ffd000;
    color: black;
    font-weight: bold;
    font-size: large;
    width: 200px;
}

.photo-small {
    cursor: pointer;
    padding-top: 20px;
    padding-left: 8px;
    padding-right: 8px;    
}

.small-photo-container {
    width: 100%;
    text-align: center;
}

.photo-small.landscape-image {
    width: 300px;
}

.photo-small.portrait-image {
    height: 300px;
}

.photo-provisional-voted {
    opacity: 0.3;
}

.image-container {
    position: relative;
    text-align: center;
    display: inline;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: bold;
    background-color: white;
    padding: 2px 35px 2px 35px;
    border-radius: 70px;
    border-width: medium;
    border-color: black;
}

.full-page-alert {
    margin-top: 50px;
}

.invisible {
    display: none;
}

img.slideshow-image {
    height: 90vh;
    width: 90vh;
    object-fit: cover;
}

.carousel-photo-container {
    display: grid;
    height: 100%;
}

.carousel-photo-image {
    max-width: 90%;
    max-height: 90vh;
    margin: auto;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    padding-top: 1px;
}

.carousel-control-next {
    justify-content: flex-end;
    margin: 50px 0 0 0;
}

.carousel-control-prev {
    justify-content: flex-start;
}

.carousel-photo-name {
    color: white;
    font-size: medium;
    font-weight: bold;
}

.close {
    font-size: 2.5em;
    color: #ffffff;
    text-shadow: none;
}

.close:hover {
    color: #808080;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 5000px!important;
}

label.control-label {
    color: white;
}

.form-control {
    display: initial;
    width: 400px;
}

form {
    padding-top: 20px;
    width: 100%;
}

.app-label {
    color: white;
    padding-right: 30px;
    float: right;
}

.app-textbox {
    margin-left: 20px;
    width: 91%;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

span.text-danger, div.text-danger {
    width: 91%;
    background-color: lightpink;
    display: block;
    margin-left: 20px;    
    border-radius: .25rem;
    font-weight: bold;
    padding-left: 5px;
}

.app-save-button {
    margin-left: 18px;
}

.app-delete-button {
    margin-left: 10px;
}

.app-select {
    margin-left: 20px;
    width: 91%;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

dl {
    padding-left: 10px;
    color: white;
    font-size: large;
}

h3 {
    color: white;
    padding-left: 10px;
    padding-top: 20px;
}

hr {
    color: white;
}
