@model Marcware.JudgeMyPhoto.ViewModels.Photo.SubmitPhotosViewModel

@{
    ViewData["Title"] = "Submit";
}

<script type="application/javascript" src="https://unpkg.com/react@16.0.0/umd/react.production.min.js"></script>
<script type="application/javascript" src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.production.min.js"></script>
<script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
<script type="application/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div id="root"></div>

<script type="text/babel">
    // Obtain the root
    const rootElement = document.getElementById('root')

    // Create a ES6 class components
    class UploadImageComponent extends React.Component {
        constructor(props) {
            super(props);
            this.state = {photoImage: ""};

            const url = `../GetPreviewPhoto?cId=${this.props.categoryId}&pId=${this.props.photoNumber}`;
            fetch(url)
                .then((response) => {
                    return response.json()
                })
                .then((data) => {                   
                    console.log(data);
                    this.setState({ photoImage: data.result });
                });
        }

        render() {
            let imagePreview;
            if (this.state.photoImage == "") {
                imagePreview = <p>No photo submitted</p>
            }
            else {
                imagePreview = <img src={this.state.photoImage}></img>
            }

            return (
                <div className="col-4-sm photo-submit-area ">
                    <div className="row photo-submit-area-title">
                        <div className="col d-flex justify-content-center">
                            Photo {this.props.photoNumber}
                        </div>
                    </div>
                    <div className="row photo-submit-area-body">
                        <div className="col d-flex justify-content-center">
                            {imagePreview}
                        </div>
                    </div>
                    <div className="row photo-submit-area-action">
                        <div className="col d-flex justify-content-center">
                            <input type="file" onChange={this.fileSelectedHandler} />
                        </div>
                    </div>
                </div>
            );
        }

        fileSelectedHandler = event => {
            let filename = event.target.files[0].name;
            let filetype = event.target.files[0].type;

            const fd = new FormData();
            fd.append("FileContents", event.target.files[0], filename);
            fd.append("FileType", filetype);
            fd.append("PhotoNumber", this.props.photoNumber);
            fd.append("CategoryId", this.props.categoryId);
            axios.post("../SubmitPhoto", fd, {
                    onUploadProgress: progressEvent => {
                        console.log("Upload progress: " + Math.round((progressEvent.loaded / progressEvent.total) * 100));
                    }})
                .then(res => {
                    this.setState({ photoImage: res.data.result });
                });
        }
    }

    class UploadImageArea extends React.Component {
    // Use the render function to return JSX component
    render() {
    return (
    <div>        
        <h1>Photo upload for category {this.props.categoryId}</h1>
        <div className="row justify-content-around">
            <UploadImageComponent photoNumber="1" categoryId={this.props.categoryId} />
            <UploadImageComponent photoNumber="2" categoryId={this.props.categoryId} />
        </div>
    </div>
    );
    }
    }

    // Create a function to wrap up component
    function App(){
    return(
    <div>
        <UploadImageArea categoryId="@(Model.CategoryId)" />
    </div>
    )
    }

    // Use the ReactDOM.render to show your component on the browser
    ReactDOM.render(
    <App />,
    rootElement
    )
</script>
