@model Marcware.JudgeMyPhoto.ViewModels.Photo.SubmitPhotosViewModel

@{
    ViewData["Title"] = "Submit";
}

<div class="row justify-content-around">
    <div class="col-4-sm photo-submit-area ">
        <div class="row photo-submit-area-title">
            <div class="col d-flex justify-content-center">
                Photo 1
            </div>
        </div>
        <div class="row photo-submit-area-body">
            <div class="col d-flex justify-content-center">
                <p>No photo submitted
            </div>
        </div>
        <div class="row photo-submit-area-action">
            <div class="col d-flex justify-content-center">
                <input type="file" />
            </div>
        </div>
    </div>
    <div class="col-4-sm photo-submit-area ">
        <div class="row photo-submit-area-title">
            <div class="col d-flex justify-content-center">
                Photo 2
            </div>
        </div>
        <div class="row photo-submit-area-body">
            <div class="col d-flex justify-content-center">
                <p>No photo submitted
            </div>
        </div>
        <div class="row photo-submit-area-action">
            <div class="col d-flex justify-content-center">
                <input type="file" />
            </div>
        </div>
    </div>
</div>

